<div class="row" ng-controller="ResendConfirmationCtrl">
  <div class="col-md-4 col-md-offset-4">
    <h1>Resend Confirmation Email</h1>
    <hr>

    <p class="alert alert-warning">
    If you still don't receive the email, <strong>check your SPAM FOLDER</strong>. If you see the email there,
    please mark the email as <strong>NOT SPAM</strong> to make sure you will receive our future emails.
    </p>

    <hr>

    <p class="alert alert-danger" ng-repeat="err in errors">
    {{err}}
    </p>

    <form name="resendForm" ng-show="!authenticated">
      <div class="form-group">
        <label>Please enter your email:</label>
        <input class="form-control" type="email" name="email" ng-model="user.email" required>
      </div>

      <div class="form-group">
        <div
          vc-recaptcha
          key="recaptcha_public_key"
          ng-model="user.g_recaptcha_response">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" ng-click="resendConfirmation(user)" ng-disabled="resendForm.$invalid || resetting" ladda="resetting">Submit</button>
    </form>
    <hr>

    <p>
    Don't have account yet?
    <a ui-sref="register">
      <strong>Create Account</strong>
    </a>
    </p>
    <p>
    Already have an account?
    <a ui-sref="login">
      <strong>Sign In</strong>
    </a>
    </p>
    <p>

  </div>
</div>

